@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans+Arabic:wght@300&family=Montserrat:wght@200&family=Mukta:wght@600&family=Playfair+Display:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

 body {
    margin: 0;
    padding: 0;
} 

.custom-card {
    margin-left: 2px;
    padding: 0px, 0px, 0px, 0px;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #340a63;
  }

  .custom-card-content{
    margin-left: 2px;
    padding: 30px 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #340a63;
  }
  
  .custom-card-content:hover {
    background-color: #D40689;
  }
  
  .custom-card:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
  }
  
.image-container {
    cursor: pointer;
    margin: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
    
}
  
.image-container img {
    max-width: 25rem;
    max-height: 20rem;
    margin: 10px;
    transition: all 0.001s ease;
}



.text-container {
    text-align: center;
    font-size: 1.5rem;
    color: #1668F5;
    font-weight: bold;
    margin-top: 5px;
    margin: 0 auto; 
    word-wrap: break-word; 
}

.paragraph-container{
    text-align: center;
    font-size: 1rem;
    color: #5AABE8;
    font-weight: bold;
    margin-top: 5px;
    margin: 0 auto; 
    word-wrap: break-word; 
    line-height: 1rem;
    text-align: center;
    text-justify: kashida;
}
  
 
/* 
 .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}  */

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}
  
/* Tailwind Styles */

/* .app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
} */

.black_btn {
    @apply rounded-full bg-[#8474A1] py-1.5 px-5 text-white font-bold transition-all hover:bg-[#CCABD8] hover:text-white text-center text-sm font-inter font-bold flex items-center justify-center;
} 



.outline_btn {
    @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
    @apply mt-5 text-5xl leading-[1.15] text-center sm:text-6xl;
    font-family: 'Abril Fatface', 'IBM Plex Sans Arabic', 'Montserrat', 'Mukta', 'Playfair Display', sans-serif; /* Use specified fonts */
    color: #1668F5;

}

/* Add these classes for font families */
.font-serif {
    font-family: 'Abril Fatface', serif;
}
.h4_text{
    @apply mt-5 text-5xl leading-[1.15] text-center sm:text-4xl;
    font-family: 'Abril Fatface', 'IBM Plex Sans Arabic', 'Montserrat', 'Mukta', 'Playfair Display', sans-serif; /* Use specified fonts */
    color: #1668F5;
}

/* Additional font families */
.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-mukta {
    font-family: 'Mukta', sans-serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-xl;
    font-weight: bold;
    color: #5AABE8;
}

.search_input {
    @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

/* .copy_btn {
    @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199, 199, 199, 0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199, 199, 199, 0.2)] backdrop-blur p-5;
} */

.prompt_layout {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
    @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
    @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
    @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
    @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
    @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.image-container:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.3); 
    backdrop-filter: blur(2px);
    background: rgba(white, 0.4);

}
.upload_btn{
  @apply rounded-full bg-[#8474A1] py-1.5 px-5 text-white transition-all hover:bg-[#CCABD8] hover:text-white text-center text-sm font-inter flex items-center justify-center;
  margin-top: 20px;
}


.continueBTN{
    background: linear-gradient(45deg, #05585C, #6EC6CA);;
}
.backBTN{
    color: #340a63;
}

.background {
    background-color: white; 
}


.navBar{
    /* position: fixed;  */
    top: 0;
    left: 0;
   /*  margin-bottom: -100px; */
    width: 100%;
    padding: 10px;
    /* padding-bottom: -100px; */
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    /*backdrop-filter: blur(8px) brightness(1.2);*/
    /*-webkit-backdrop-filter: blur(8px) brightness(1.2);*/
    background:none;



}


.nav-text{
    color: #05585C;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.nav-text:hover{
    color: #6EC6CA;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.username-text{
    color: #CCABD8;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}





.backgroundImage{
    width: 100%;
    height: 100%;
}

main{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.app{
    background-image: url('/assets/images/backgroundImagegray.png');
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    
  
}



.footer{
   /* margin: 5rem;*/
    padding: 1.5rem;
    background: #D40689;
}


.illustrateText{
    color: #340a63;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.endMessage{
    color: white;
    background: linear-gradient(45deg, #340a63, #C394F6);;
}


.endMessageText{
    color: white;
}

.resetBTN{
    color: #D40689;
}


.footer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    background: linear-gradient(45deg, #05585C, #6EC6CA);
}


.footer h1{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}



.footer h4{
    color: white;
    font-size:1rem;
  
}


.signForm{
    background-color: #5AABE8;
    width: 20rem;
    height: 30rem;
    padding: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;

}

 .googleBTN{
    display: flex;
    justify-content: center;
    background-color: #340a63;
    color: white;

 }

 .googleBTN:hover{
    background-color: #C394F6;
 }


 .signInBTN{
    margin-top: 4rem;
    background-color: #05585C;
    color: white;
    width: 100%
 }

 .signInBTN:hover{
background-color: #6EC6CA;
 }


 .emailField{
    border: #340a63;
    border-radius: 10%;
 }

 .forgotPassHead{
    font-size: xx-large;
    color: #340a63;
    font-weight: bold;
 }


 .forgotPassLabel{
    font-weight: bold;
    color: #6EC6CA;
 }


 input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }


  .bg-slate-200{
    
    background: linear-gradient(45deg, #05585C, #6EC6CA);
   
  }



  /* Base styles for the form */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Spacing between form elements */
    width: 400px; /* Adjust for larger forms */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    background: #ecf0f3;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    width: 100%;
  }
  
  .form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 768px) {
    .form-container {
      width: 100%; /* Form takes up full width on small screens */
    }
  
    .form-label {
      font-size: smaller; /* Adjust label size for better readability */
    }
  
    .form-input,
    .form-button {
      width: 100%; /* Inputs and button take full width */
    }
  }


  .formIcon{
    color: #05585C;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }