body{
    margin: 0;
    padding: 0;

}


.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}


.nav{
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}

.navLogo{
    font-size: 1.5rem;
    margin: auto 1rem;
}


.navMenue ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navMenue ul li{
    list-style: none;
}
.navMenue ul li a{
    text-decoration: none;
    color: rgb(3, 67, 67);
    padding: 1rem;
    display: block;
}

.navMenue li:hover{
    font-weight: bolder;
    text-decoration: line-through;
    transition: ease-in-out 0.2s;
}

.navHumbrger{
    width: 1.875rem;
    height: 1.313rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute; 
    top: 1rem;
    right: 1rem;
}


.navHumbrgerLine{
    height: 0.188rem;
    width: 100%;
    background-color: #08054c;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;

}


@media screen and (max-width:550px) {
        .navHumbrger{
            display: flex;
        }
        .navMenue{
            position: absolute;
            display: flex;
            align-items: center;
            background-color: rgb(255, 255, 255, 0.2);
            top: -13rem;
            width: 100%;
            transition: all ease-in-out 0.4s;
        }

        .nav{
            flex-direction: column;
            align-items: flex-start;
        }
        .navMenue ul{
            flex-direction: column;
            width: 100%;
            padding: 3rem 0 0.6rem;
        }

        .navMenue ul li{
            text-align: center;
        }

        .navMenue{
            z-index: -1;
        }
        .navMenue:active{
            top: 0;
        }
        .navHumbrger.active:nth-child(1){
            transform: rotate(45deg) translate(0.45rem, 0.1875rem);
        }

        .navHumbrger.active:nth-child(2){
            opacity: 0;
        }
        .navHumbrger.active:nth-child(3){
            transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
        }
    
}




